@import "./src/app/styles";


.wrapper{
  @include box-size(100%, 100%);
  @include flex-column(flex-start, flex-start);
  gap: 8px;
  overflow-y: auto;
  //flex-direction: column-reverse;
  position: relative;

  .messageWrapper{
    @include box-size(calc(100% - 12px), auto);
    @include flex(flex-start);
    padding: 0 0 0 12px;

    &_my{
      justify-content: flex-end;
      padding: 0 12px 0 0;
    }

    .messageContent{
      @include flex(flex-start, flex-start);
      @include box-size(100%, 100%);
      max-width: 70%;
      &_my{
        justify-content: flex-end;
      }
    }
  }

  .btnDown{
    position: fixed;
    right: 30px;
    bottom: 90px;
  }
}
