@mixin box-size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flex($justify: center,  $align: center, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap * 1px;
}

@mixin flex-column($justify: center,  $align: center, $gap: 0) {
  @include flex($justify, $align, $gap);
  flex-direction: column;
}

@mixin position($position: absolute, $top: 0, $left: 0) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin text-ellipsis($width){
  width: $width;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin btn-actions() {
  transition: transform var(--transition);
  &:hover {
    transform: scale(1.02);
  }
  &:active {
    transform: scale(0.98);
  }
}
