@mixin box-size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flex($justify: center,  $align: center, $gap: 12px) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin flex-column($justify: center,  $align: center, $gap: 12px) {
  @include flex($justify,  $align, $gap);
  flex-direction: column;
  background-color: #7B57C8;
}

@mixin position($position: absolute, $top: 0, $left: 0){
  position: $position;
  top: $top;
  left: $left;
}