html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  a, button {
    all: unset;
    cursor: pointer;
  }

  a{
    color: var(--main-active);
  }

  //input
  input {
    all: unset;
  }

  ::placeholder {
    color: var(--text-secondary);
    //font-size: 12px;
  }

  input[type=password]::-ms-reveal,
  input[type=password]::-ms-clear {
    display: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

  //scrollbar

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: inherit;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--text-1);
    border-radius: 20px;
  }

  border-style: none;


  li{
    list-style-type: none;
  }

  //npm
  .react-switch-handle {
    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }


  .EmojiPickerReact, .epr-main{
    background-color: var(--bg-0) !important;

    .epr-emoji-category-label{
      background-color: var(--bg-03) !important;
    }

    .epr-search{
      background-color: var(--bg-1) !important;
    }
  }
}