:root {
  --border-radius: 10px;
  --transition: .5s;

  --sidebar-base-width: 300px;

  --red: #FF4B4B;
  --white: #FFFFFF;

  --box-shadow-active: 0 0 6px 0 var(--main-active);
  --box-shadow-cuccess: 0 0 6px 0 var(--gradient-1);
  --box-shadow-error: 0 0 6px 0 var(--red);
}