@import "src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  background-color: var(--bg-primary);
  overflow: hidden;

  .header {
    @include box-size(100%, 60px);
    min-height: 60px;
  }

  .outlet {
    @include box-size(100%, calc(100vh - 60px));
  }
}
