@import "src/app/styles";

.wrapper {
  @include box-size(100%, 100vh);
  @include flex(flex-start);
  background-color: var(--bg-primary);
  overflow: hidden;

  .navbar {
    @include box-size(88px, 100%);
    border-right: 1px solid var(--border-secondary);
    min-width: 88px;
  }

  .outlet {
    @include box-size(calc(100% - 88px), 100%);
  }
}
