@import "./src/app/styles";

.wrapper{
  @include box-size(100%, 100%);
  @include flex;
  gap: 1px;

  .sidebar{
    @include box-size(300px,100%);
    min-width: 300px;
    @include flex;
  }

  .mainColumn {
    @include box-size(100%, 100%);
    background-color: var(--bg-1);
  }
}