@import "./src/app/styles";

.wrapper{
  @include box-size(100%, 100%);
  @include flex;

  .sidebar{
    @include box-size(300px,100%);
    @include flex;
    min-width: 300px;
    border-right: 1px solid var(--bg-outside);
  }

  .mainColumn {
    @include box-size(100%, 100%);
    background-color: var(--bg-1);
  }
}