@import "./src/app/styles";

.list {
  @include box-size(100%, auto);
  @include flex-column(flex-start, center);
  gap: 10px;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.departmentTitle{
  font-weight: 600;
  font-size: 20px;
  color: var(--text-0);
}

.divisionTitle{
  font-weight: 800;
  font-size: 14px;
  color: var(--text-1);
}


