@import "./src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column(flex-start, center, 20);
  background-color: var(--bg-0);

  .search {
    @include box-size(100%, 40px);
    @include flex;
    margin-top: 8px;

    @include responsive-to('sm'){
      @include box-size(calc(100% - 12px), 40px);
      justify-content: flex-end;
      padding-right: 12px;
    }
  }

  .list {
    @include flex(flex-start, flex-start);
    @include box-size(100%, calc(100vh - 150px));
    overflow-y: auto;
  }
}
