@import "src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column;
  gap: 12px;

  .video {
    @include flex(center, flex-end);
    @include box-size(500px, auto);
    max-height: 76vh;
  }

  .controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    @include box-size(500px, calc(92px - 32px));
    background-color: var(--bg-primary);
    border-radius: 12px;
    padding: 16px;

    svg {
      fill: var(--text-primary);
    }

    .top {
      @include flex(space-between);
      @include box-size(100%, 50%);

      .volume {
        @include flex;
        @include box-size(100px, 50%);
        gap: 8px;
      }

      .actions {
        @include flex(flex-end);
        @include box-size(100px, 50%);
        gap: 8px;
      }
    }

    .bottom {
      @include flex;
      @include box-size(100%, 50%);
      gap: 8px;

      .time {
        width: 44px;
      }

      .timeReverse {
        width: 50px;
      }

      .slider {
        margin-top: 11px;
        @include box-size(347, 100%);
        flex: 1;

      }
    }

  }
}

