@import "src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column(flex-start, flex-start);
  gap: 6px;
  flex-wrap: wrap;
  border-radius: 12px;
  overflow: hidden;

  .item{
    width: 100%;
  }
}

