@import "src/app/styles";

.wrapper {
  @include box-size(calc(416px - 48px), 100%);
  @include flex-column;
  gap: 24px;
  max-height: 90vh;
  padding: 32px 24px;

  .sizeLimit {

  }

  .categories {
    @include flex-column(flex-start);
    width: 100%;
    gap: 8px;
    overflow-y: auto;

    .item {
      @include box-size(100%, 48px);
      @include flex(space-between);

      .description {

      }

      .icon {
        cursor: pointer;
      }
    }
  }

  .clearAll {
    width: 100%;
  }

  .info {
    overflow-y: auto;
  }
}


