@import "../../../app/styles/index";

.auth{
  @include box-size(100%, 100vh);
  @include flex;
  background-color: var(--bg-0);
  position: relative;

  .switch{
    @include position(absolute, 20px, 20px)
  }

  .wrapper{
    @include flex-column;
    gap: 70px;
  }
}