@import "./src/app/styles";

.error{
  @include box-size(100%, 100%);
  @include flex;
  font-size: 18px;
  color: var(--error-color);
  box-shadow: var(--box-shadow-error)inset;
}

.loading{
  @include box-size(100%, 100%);
  font-size: 18px;
  color: var(--error-color);
  box-shadow: var(--box-shadow-active)inset ;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}