@import "./src/app/styles";

.hardGrid {
  @include box-size(100%, 100%);
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
  height: auto !important;

}

.wrapper {
  @include box-size(100%, 100%);
  display: grid;
  gap: 12px;
  align-items: stretch;


  .img {
    width: 100%;
    height: 100%;
  }
}

