@import "./src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  @include flex;
  position: relative;
  color: var(--text-0);
  .switcher {
    @include flex;
    position: absolute;
    top: 11px;
    left: 10px;
    cursor: pointer;

    &_go {
      @include flex-column();
      @include btn-actions;
      color: var(--text-0);
      @include box-size(180px, 31px);
      border-radius: 8px;
      border: 1px solid var(--stroke-2);
      padding: 4px 8px;

      div{
        text-align: center;
        @include text-ellipsis(180px);
      }
    }
  }

  .sidebar {
    @include box-size(300px, 100%);
    @include flex;
    min-width: 300px;
    border-right: 1px solid var(--bg-outside);

    @include width-to('sm') {
      @include box-size(100%, 100%);
    }
  }

  .mainColumn {
    @include box-size(100%, 100%);
    background-color: var(--bg-1);
    overflow: hidden;
  }
}