@import "./src/app/styles";

.directionColumn {
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;

  .infoColumn {
    margin-right: 52px;

    .header {
      flex-direction: column;
      align-items: flex-start !important;
      justify-content: flex-start;
    }
  }
}

.wrapper {
  @include flex(flex-start, flex-start);
  gap: 12px;
  overflow: hidden;
  position: relative;
  @include box-size(100%, 220px);
  .infoColumn {

    @include flex-column(flex-start, flex-start);
    gap: 6px;

    .header {
      @include box-size(100%, 100%);
      @include flex(flex-start);
      margin-bottom: 4px;
      gap: 12px;
      flex-wrap: wrap;

      .caption {
        @include flex-column(flex-start, flex-start);
        @include text-ellipsis(90%);

        .name {
          font-weight: 600;
          font-size: 20px;
          color: var(--text-primary);
        }

        .date {
          color: var(--text-secondary);
          font-weight: 400;
          font-size: 14px;
        }
      }

      .status {
        @include flex(flex-start, flex-start);
      }
    }

  }

  .role {
    text-align: left;
    color: var(--text-primary);
    font-weight: 600;
    font-size: 14px;
    min-height: 16px;
    line-height: 16px;
    @include text-ellipsis(90%)
  }

  .department, .division, {
    text-align: left;
    color: var(--text-primary);
    font-weight: 400;
    font-size: 14px;
  }


  .email{
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    min-height: 16px;
    line-height: 16px;
    color: var(--control-primary);
    @include text-ellipsis(200px)
  }
}