@import "./src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  @include flex;
  background-color: #F1F5F9;
  border-radius: 4px;

  .error {
    display: none !important;
  }

  .img {
    @include box-size(100%, 100%);
    @include flex;
    border-radius: 4px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

