@import "./src/app/styles";

.wrapper {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: inherit;
  border-radius: var(--border-radius);
  transition: var(--transition);
  will-change: transform;
  text-align: center;
  position: relative;
  overflow-x: hidden;
  @include btn-actions
}

.content {
  display: flex;
  align-items: center;
  padding: 4px 16px;
  white-space: nowrap;
  color: var(--text-0);
}


.active {
  background-color: var(--main-active);
  div{color: var(--white)}
}

.disabled {
  background-color: var(--button-inactive);
  pointer-events: none;
  cursor: default;
  div{color: var(--white)}
}

.error {
}


.loading {
  pointer-events: none;
  cursor: default;
  div{color: var(--white)}
}

.loadingAnimation {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  transform: skewX(-45deg); // Наклон
  left: -150%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  animation: flareAnimation 2s infinite linear;
}

@keyframes flareAnimation {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

.size-s {
  width: 200px;
  height: 30px;
}

.size-m {
  width: 264px;
  height: 40px;
}

.size-l {
  width: 100%;
  height: 48px;
}

.size-xl {
  width: 100%;
  height: 48px;
}