@import "src/app/styles";

.wrapper {
  @include box-size(100%, auto)
}

.content {
  border-radius: 20px;
  color: var(--text-0);
  background-color: var(--bg-0);
  //overflow: hidden;
  box-shadow: var(--box-shadow);
  position:  absolute;
  z-index: 100;
}





