@import "./src/app/styles";

.main {
  @include box-size(100%,100%);
  display: flex;
  justify-content: center;
}

.leftSidebar {
  width: 300px;
}

.mainColumn {
  display: flex;
  flex-direction: column;
  width: calc(100% - 300px);
}