@import "src/app/styles/index";

.wrapper {
  @include flex;
  gap: 8px;
  cursor: pointer;

  .icon {
    @include flex;
    width: 37px;
    height: 37px;
    background-color: var(--text-action);
    border-radius: 4px;
  }

  .caption {
    width: calc(100% - 45px);
    @include flex-column;
  }

  svg {
    fill: var(--text-fixed);
  }

}

