@import "src/app/styles";

.wrapper {
  @include box-size(100%, auto);
  @include flex-column(flex-start, flex-start);
  max-height: 600px;
  gap: 24px;

  @include height-to('sm'){
    height: 80vh;
  }

  .body {
    @include flex-column(flex-start, flex-start);
    gap: 16px;
    width: 100%;
    flex: 1;
    overflow-y: auto;

    .item {
      @include flex(space-between);
      width: 100%;
      gap: 20px;
      cursor: pointer;
      min-height: 60px;

      &:first-child{
        min-height: 80px;
        align-items: center;
      }

      .left {
        width: 84%;
        @include flex-column(center, flex-start);
        gap: 2px;
        height: 100%;
        overflow-y: auto;
        .aboutMe {
          width: 100%;
          @include flex(flex-start, flex-start);
          max-height: 140px;

        }
      }
    }
  }


}