@import "src/app/styles/index";

.wrapper {
  @include box-size(calc(100% - 80px), 100%);
  @include flex(flex-start, flex-start);
  gap: 30px;
  background-color: var(--bg-secondary);
  border-radius: 12px;
  overflow-y: auto;
  flex-wrap: wrap;
  padding: 40px;

  .avatarBlock {
    @include flex-column(flex-start, flex-start);
    gap: 20px;

    .name {
      @include flex(flex-start);
      flex: 1;
      gap: 6px;
    }

    .btns {
      @include flex(center, flex-start);
      @include box-size(100%, auto);
      gap: 12px;

      svg {
        fill: var(--text-fixed);
      }
    }
  }

  .description {
    max-width: 400px;
    width: 100%;
    @include flex-column(flex-start, flex-start, 12);

    .company, .addCompany {
      @include flex(space-between);
      @include box-size(calc(408px - 32px), 32px);
      gap: 12px;
      padding: 8px 16px;
      background-color: var(--bg-primary);
      border-radius: 12px;
      cursor: pointer;

      .container {
        @include flex(flex-start);
        gap: 16px;

        .name {
          @include flex;
          max-width: 200px;
        }

        .dot {
          @include box-size(4px, 4px);
          min-width: 4px;
          border-radius: 50%;
          background-color: var(--text-primary);
        }
      }

      .plus {
        font-size: 24px;
        font-weight: 500;
        color: var(--text-action);
      }

      svg {
        fill: var(--control-primary)
      }
    }
  }
}