@import "./src/app/styles";

.wrapper {
  @include box-size(100%, auto);
  @include flex-column(flex-start, flex-start);
  gap: 10px;
  border-radius: var(--border-radius);
  overflow-x: hidden;

  .headerCollapse{
    width: auto;
    padding-left: 18px;
    background-color: var(--bg-03);
  }

  .categoryTitle{
    font-weight: 800;
    font-size: 14px;
    color: var(--text-primary);
  }

  .chatsList{
    @include flex-column(center, center);
    //margin-top: 10px;
    width: 100%;
    //overflow-y: auto;
    gap: 12px;

    .item {
      @include flex(space-between);
      @include box-size(90%, 100%);
      cursor: pointer;
      transition: background-color var(--transition);

      .rightColumn {
        @include flex-column(flex-end, flex-end, 6);
        justify-self: flex-end;

        .checked{
          height: 16px;
        }
      }
    }}
}
