@import "src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column(flex-start);
  gap: 12px;

  .item{
    @include box-size(calc(100% - 24px), auto);
    @include flex-column(flex-start,flex-start);
    background-color: var(--bg-secondary);
    border-radius: 12px;
    padding: 16px 12px;
  }
}
