@import "./src/app/styles";

.wrapper {
  @include flex-column;
  @include box-size(100%, 100%);
  overflow: hidden;
  position: relative;

  .dossier {
    @include box-size(100%, 70%);
  }

  .footer {
    @include box-size(100%, 10%);
    @include flex(space-between);
    button{
      margin-left: 6px;
    }

    .logout{
      @include flex;
      gap: 12px;
      font-weight: 500;
      font-size: 12px;
      color: var(--text-primary);
      cursor: pointer;
    }
  }
}