@import "src/app/styles";

.wrapper {
  @include box-size(100%, calc(100% - 24px));
  @include flex-column(flex-start);
  //background-color: var(--bg-dialogue);
  gap: 4px;
  padding: 12px 0;
  overflow-y: auto;
  overflow-x: hidden;


  .btnDown {
    @include flex-column(flex-start);
    gap: 4px;
    position: fixed;
    bottom: 64px;
    right: 14px;

    svg {
      fill: var(--text-fixed);
    }
  }

  .row {
    @include box-size(98%, auto);
    display: flex;
    transition: background-color .5s;
    border-radius: 12px;

    &_active {
      background-color: var(--bg-quaternary);
    }
  }
}
