@import "./src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column(flex-start);

  .header {
    @include flex(space-between);
    @include box-size(100%, 90px);

    .counter{
      margin-left: 22px;
      font-weight: 400;
      font-size: 16px;
    }

    .buttons{
      @include flex(flex-end);
      margin-right: 22px;
      flex-wrap: wrap;
    }
  }

  .list {
    @include flex(flex-start);
    width: 98%;
    padding-bottom: 8px;
    flex-wrap: wrap;
    gap: 8px;
    overflow-y: auto;

    .item {
      @include flex;
      gap: 12px;
      padding: 6px;
      border-radius: 18px;
      background-color: var(--bg-0);

      .userInfo {
        @include flex;
        gap: 4px;
      }

      .delete {
        @include flex;
        cursor: pointer;
      }
    }
  }
}

