@import "src/app/styles/index";

.wrapper {
  @include box-size(calc(100% - 44px), calc(100% - 44px));
  @include flex-column(flex-start, flex-start);
  gap: 12px;
  border-radius: 12px;
  padding: 22px;
  overflow-y: auto;

  .avatarBlock {
    @include flex-column(flex-start, flex-start);
    gap: 12px;

    .name {
      @include flex(flex-start);
      flex: 1;
      gap: 6px;
    }

    .btns {
      @include flex(center, flex-start);
      gap: 12px;

      svg {
        fill: var(--text-fixed);
      }
    }
  }

  .userInfo {
    min-width: 240px;
    padding: 24px;
    border-radius: 20px;
    background-color: var(--bg-secondary);
  }
}