@import "src/app/styles/index";

.wrapper {
  @include box-size(100%, calc(100% - 24px));
  @include flex-column(flex-start, flex-start);
  gap: 12px;
  background-color: var(--bg-secondary);
  border-radius: 12px;
  padding: 12px;

  @include width-to(sm){
    padding: 4px;
  }

  .avatarBlock {
    @include flex-column(flex-start, flex-start);
    gap: 12px;

    .name {
      @include flex(flex-start);
      flex: 1;
      gap: 6px;
    }

    .btns {
      @include flex(center, flex-start);
      @include box-size(100%, auto);
      gap: 12px;

      svg {
        fill: var(--text-fixed);
      }
    }
  }
}