@import "src/app/styles/index";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column(flex-start, flex-start);
  gap: 12px;
  background-color: var(--bg-secondary);
  border-radius: 12px;
  padding: 0 20px;
  overflow-y: auto;

  @include width-to(sm) {
    padding: 4px;
  }

  .avatarBlock {
    @include flex-column(flex-start, flex-start);
    gap: 12px;
    margin-top: 12px;

    .name {
      @include flex(flex-start);
      flex: 1;
      gap: 6px;
    }

    .btns {
      @include flex(center, flex-start);
      @include box-size(100%, auto);
      gap: 12px;

      svg {
        fill: var(--text-fixed);
      }
    }
  }
  .companies{
    width: 100%;
    margin-bottom: 12px;
  }
}