.primary {
  color: var(--text-primary) !important;
}

.textWrap{
  white-space: normal!important;
  overflow-wrap: break-word;
}

.wrapper {
  color: var(--text-secondary);
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.H1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.H2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.H3B {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.H3R {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.H3S {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.H3M {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.H4S {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.H4M {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.Body16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px
}

.Body14 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.caption1S {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.caption1M {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.caption2S {
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}

.caption2M {
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

