@import "src/app/styles";

.wrapper {
  @include flex(flex-end, flex-end);
  color: var(--text-primary);
  max-width: 290px;
  background-color: var(--bg-secondary);
  padding: 4px 8px;
  border-radius: 12px;
  -moz-user-select: text;
  -webkit-user-select: text;

  .audio{
    @include flex;
    max-width: 200px;
  }
}


