@import "./src/app/styles";

.wrapper {
  @include flex-column(flex-start, flex-start);
  gap: 6px;
  //position: relative;
  .title {
    color: var(--text-1);

  }

  .btn {
    @include box-size(230px, 42px);
    @include flex(space-between);
    padding: 0 12px;
    color: var(--text-1);
    border: 1px solid var(--stroke-2);
    border-radius: 8px;

    .value{
      white-space: nowrap;
    }
    .icon{
      @include box-size(20px, 20px)
    }
  }

  .datePicker{
    //position: absolute;
    //top: 0;
    //left: 0;
  }
}

