@import "./src/app/styles";

.wrapper {
  @include flex-column(flex-start, flex-start);
  gap: 6px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-secondary);

  .title {
    color: var(--text-primary);
  }

  .btn {
    @include box-size(230px, 42px);
    @include flex(space-between);
    padding: 0 12px;
    color: var(--text-1);
    border: 1px solid var(--stroke-2);
    border-radius: 8px;

    .value {
      white-space: nowrap;
      color: var(--text-primary);
    }

  }
}

