@import "src/app/styles";

.wrapper {
  //@include flex;

  .rc-slider-step {
    background-color: var(--text-action) !important;
    display: none !important;
  }

  .rc-slider-track {
    display: none !important;
  }

  .rc-slider-handle {
    display: none !important;
  }

  .track {
    background-color: #fafafa;
    display: none !important;
  }
}
