@import "src/app/styles/index";


.wrapper {
  @include box-size(300px, auto);
  @include flex-column();
  padding: 12px;
  gap: 12px;

  .body {
    @include flex-column;
    gap: 8px;
    flex: 1;
  }

  .footer {
    @include flex;
    gap: 12px;
    width: 100%;
  }
}