@import "./src/app/styles";

.wrapper {
  @include flex(flex-end);
  gap: 12px;
  cursor: pointer;

  .circle {
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    &:hover {
      .cover {
        opacity: 1;
      }
    }

    .cover {
      @include box-size(100px, 30px);
      position: absolute;
      bottom: 0;
      left: -10px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      color: var(--text-fixed);
      background-color: var(--bg-dimming);
      text-align: center;
      font-size: 12px;
      opacity: 0;
      transition: opacity .5s;
    }
  }

  .webCamera {
    position: absolute;
  }

  .menu {
    background-color: #7B57C8;
  }
}