@import "src/app/styles";

.wrapper {
  @include box-size(100%, 60px);
  @include flex;
  background-color: var(--bg-secondary);
  position: fixed;
  right:0;
  border-top: 1px solid var(--border-secondary);
  z-index: 200;
}
