@import "./src/app/styles";

.page{
  @include box-size(100%, 100%);
  @include flex;
color: var(--text-0);
  .sidebar{
    @include box-size(300px, 100%);
    min-width: 300px;
    @include flex;
    border-right: 1px solid var(--bg-outside);
  }

  .mainColumn{
    @include flex-column;
    @include box-size(calc(100% - 301px),100%);

    .header{
      @include box-size(100%,56px);
      @include flex;
    }

    .outlet{
      width: 100%;
      height: calc(100% - 56px);
      background-color: var(--bg-1);
    }
  }
}