@import "./src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  @include flex(flex-start);

  .sidebar {
    height: 100%;
    width: 300px;

    @include width-to('sm') {
      width: 100%;
    }
  }

  .outlet {
    @include flex;
    height: 100%;
    flex: 1;
  }
}