@import "src/app/styles";

.wrapper {
  @include flex-column(flex-start);
  @include box-size(100%, 100%);
  background-color: var(--bg-secondary);
  gap: 12px;


  .swiperTop {
    width: 100%;
    flex: 1;
    margin-top: 20px;
  }

  .footer {
    @include flex;
    width: 100%;
    position: relative;
    margin: 20px 0;

    .card {
      position: absolute;
      max-width: 200px;
      bottom: 10px;
      left: 20px;
    }

    .swiperContainer {
      .swiperBottom {
        @include flex;
        gap: 6px;
        height: 80px;
        width: 100%;

        .sliderBottom {
          @include flex;
          max-width: 56px;
          max-height: 80px;
          border-radius: 12px;
          overflow: hidden;
          opacity: 0.6;
          cursor: pointer;

          &_active {
            opacity: 1;
          }
        }
      }
    }

    .actions {
      @include box-size(152px, 40px);
      @include flex;
      border-radius: 24px;
      background: var(--white);
    }


  }
}




