@import "src/app/styles";

.wrapper {
  @include flex-column;
  @include box-size(calc(100% - 8px), calc(100% - 8px));
  gap: 12px;
  position: relative;
  background: transparent;

  .closeIcon{
    @include box-size(40px, 40px);
    @include flex;
    background-color: var(--white);
    border-radius: 50%;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;

    svg{
      fill: black;
    }
  }
}




