@import "src/app/styles/index";

.wrapper {
  @include flex-column();
  @include box-size(100%, 60px);
  background-color: var(--bg-secondary);
  border-top: 1px solid var(--border-secondary);
  position: relative;

  .container {
    @include flex(space-between);
    @include box-size(calc(100% - 64px), 60px);
    padding: 0 32px;
    max-width: 1440px;

    .left, .right {
      @include flex;
      gap: 20px;

      .time {
        @include flex
      }

      .item {
        cursor: pointer;
      }

      svg {
        fill: var(--control-primary);
      }
    }
  }

  .slider {
    @include box-size(100%, 7px);
    z-index: 100;
    position: absolute;
    left:0;
  }

}

