@import "./src/app/styles";

.wrapper{
  @include flex-column(flex-end );
  @include box-size(100%, 100%);
  gap: 12px;

  .title{
    font-weight: 600;
    font-size: 16px;
    color: var(--text-0);
  }
}


