@import "./src/app/styles";

.wrapper {
  @include box-size(auto, 100%);
  @include flex-column;
  position: relative;
  flex: 1;

  .header {
    @include box-size(100%, 60px);

  }

  .messageList {
    flex: 1;
  }

  .input {
    @include box-size(100%, auto);
  }
}
