@import "./src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column(flex-end);
  gap: 20px;
  background-color: var(--bg-01);
  border-radius: 20px;

  .main {
    @include box-size(94%, 70%);
    @include flex(space-between, flex-start);

    .dossier {
      @include box-size(68%, 100%);
    }

    .buttons {
      @include flex;
      gap: 8px;
      width: 150px;
    }
  }

  .nav {
    @include flex(flex-start);
    width: 94%;
    margin-bottom: 8px;
  }
}
