@import "src/app/styles/index";

.wrapper {
  @include box-size(416px, 100%);
  @include flex-column(flex-start, center);
  max-height: calc(100vh - 22px);
  overflow-y: auto;
  @include height-from(sm) {
    max-height: calc(100vh - 50px);
  }

  .header {
    @include flex-column();
    width: calc(100% - 48px);
    margin: 32px 24px 12px 24px;
    color: var(--text-primary);

    .groupSettings {
      @include flex;
      margin-top: 12px;
      width: 100%;
      gap: 12px;
    }

    .search {
      width: 100%;
    }

    .description {
      margin-top: 12px;
      border: 1px solid var(--control-secondary);
      border-radius: 12px;
      width: calc(100% - 24px);
      padding: 12px;
      height: 50px;
      overflow: auto;
    }

    .switch {
      width: 100%;
      margin-top: 8px;

      @include flex(flex-start);
      border-bottom: 1px solid var(--border-secondary);

      svg {
        stroke: var(--text-action) !important;
      }
    }
  }

  .list {
    @include scrollBarVertical;
    @include flex-column(flex-start);
    margin-top: 8px;
    width: 94%;
    padding: 12px;
    overflow-y: auto;
    min-height: 100%;
  }

  .footer {
    width: 90%;
    margin-top: 16px;
    margin-bottom: 28px;


    svg {
      fill: var(--text-action) !important;
    }
  }
}