@import "src/app/styles";

.wrapper {
  @include box-size(416px, auto);
  @include flex-column(flex-start, flex-start);
  max-height: 600px;
  gap: 24px;
  padding: 32px 24px;

  @include height-to('sm'){
    height: 80vh;
  }

  .select{
    width: 100%;
    @include flex;
  }

  .list{
    max-height: 70%;
    width: 100%;
    overflow-y: auto;

    .item{
      transition: background-color .5s;
      border-radius: 12px;

      &_active{
        background-color: var(--bg-primary);
      }
    }
  }
}