@import "src/app/styles";

.globalWrapper {
  @include box-size(100%, 100vh);
  display: flex;
  justify-content: center;
  background-color: var(--bg-primary);
  overflow: hidden;
}

.pagesWrapper {
  @include box-size(100%, 100%);
  background-color: var(--bg-primary);
  overflow: hidden;
  //@media screen and (min-width: 1680px) {
  //  width: 1680px
  //}
}