@import "src/app/styles";

.globalWrapper {
  @include box-size(100%, 100vh);
  display: flex;
  justify-content: center;
  background-color: var(--global-background-color);
}

.pagesWrapper {
  @include box-size(100%, 100%);

  @media screen and (min-width: 1680px) {
    width: 1680px
  }
}