@import "./src/app/styles";


.wrapper {
  @include box-size(300px, 61px);
  @include flex;
  border-bottom: 1px solid var(--bg-outside);
  gap: 150px;
  margin-bottom: 24px;

  .title {
    font-weight: 600;
    font-size: 16px;
    color: var(--text-0);
  }

  .icon {
    cursor: pointer;
  }
}

