@import "./src/app/styles";


.wrapper {
  @include box-size(calc(100% - 24px), 59.5px);
  @include flex(space-between);
  padding: 0 12px;
  border-bottom: 1px solid var(--bg-outside);

  .title {
    font-weight: 600;
    font-size: 16px;
    color: var(--text-0);
  }

  .icon {
    cursor: pointer;
  }
}

