@import "./src/app/styles";

.wrapper {
  @include box-size(100%, calc(100% - 16px));
  @include flex-column(flex-start);
  background-color: var(--bg-secondary);
  padding-top: 16px;

  @include width-to(sm) {
    background-color: var(--bg-primary);
  }

  .header{
    @include box-size(90%, 48px);
    @include flex(space-between);

    svg{
      fill: var(--text-primary);
    }
  }

  .search{
    width: 90%;
  }

  .list {
    @include flex(center, flex-start);
    flex: 1;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 12px 0;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}
