@import "./src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column(flex-start, flex-start);
  background-color: var(--bg-secondary);

  @include width-to(sm) {
    background-color: var(--bg-primary);
  }

  .list {
    @include flex(flex-start, flex-start);
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
  }
}
