@import "./src/app/styles";


.wrapper {
  @include flex(space-between);
  @include box-size(calc(100% - 24px), 100%);
  gap: 16px;
  padding: 0 12px;
  background-color: var(--bg-secondary);


  .left {
    @include flex(flex-start);
    gap: 10px;
    flex: 1;
    width: 0;
  }

  .right {
  }

}