@import "src/app/styles";

.wrapper {
  @include box-size(auto, 40px);
  @include flex;
  padding: 0 25px;
  gap: 16px;
  border-radius: 24px;
  background: var(--white);

  .item {
    @include flex;
    cursor: pointer;

    .colorPiker {
      @include box-size(28px, 28px);
      position: relative;
      border-radius: 50%;

      &::before {
        @include box-size(28px, 28px);
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        border-radius: 50%;
        pointer-events: none;
        box-shadow: var(--box-shadow);
      }

      &_input {
        @include box-size(100%, 100%);
        -webkit-appearance: none;
        border: none;
        opacity: 0;
        border-radius: 50%;
      }
    }
  }


}
