@import "../../../app/styles/index";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column;
  background-color: var(--bg-primary);
  overflow-y: auto;

  .body {
    @include flex-column(flex-start, center);
    @include box-size(96%, 100%);
    gap: 22px;

    .row{
      flex-shrink: 0;
      min-height: 154px;
      max-width: 940px;
      @include box-size(100%, auto);

    }
  }
}
