@import "../../../app/styles/index";

.page {
  @include box-size(100%, 100%);
  @include flex-column;
  gap: 1px;

  .header {
    @include box-size(100%, 60px);
    background-color: var(--bg-01);
  }

  .mainRow {
    @include flex;
    @include box-size(100%, calc(100% - 60px));
    gap: 1px;

    .sidebar {
      @include box-size(var(--sidebar-base-width), 100%);
      background-color: var(--bg-01);
    }

    .outlet {
      @include flex;
      @include box-size(calc(100% - 300px),100%);
      background-color: var(--bg-0);
    }
  }
}
