@import "../../../app/styles/index";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column;
  background-color: var(--bg-1);

  .header {
    @include box-size(100%, 60px);
    min-height: 60px;
    background-color: var(--bg-01);
  }

  .mainRow {
    @include flex-column(flex-start, center);
    @include box-size(96%, calc(100% - 60px));
    gap: 22px;
    padding: 22px 0;
    overflow-y: scroll;

    .row{
      min-height: 154px;
      max-width: 940px;
      @include box-size(100%, 154px);

      &:nth-child(1){
        min-height: 254px;
        @include box-size(100%, 254px)
      }
    }
  }
}
