@import "src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column(flex-start, flex-start);
  //background-color: var(--bg-dialogue);
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
  border-left: 1px solid var(--border-secondary);
  @include width-from(xl) {
    width: 450px;
  }

  .header {
    @include box-size(calc(100% - 24px), 114px);
    @include flex-column();
    gap: 16px;
    background-color: var(--bg-secondary);
    padding: 12px;

    .title {
      @include box-size(100%, auto);
      @include flex;
      gap: 16px;

      svg {
        fill: var(--text-primary);
      }
    }

    .search {
      @include box-size(100%, auto);
      @include flex;
    }
  }


  .messages {
    @include box-size(calc(100% - 24px), calc(100% - 114px));
    @include flex-column(flex-start, flex-start);
    background-color: var(--bg-secondary);
    padding: 12px;
    overflow-y: auto;

    .item {
      @include box-size(100%, 64px);
      min-height: 64px;
      @include flex-column(flex-start, flex-start);
      cursor: pointer;
    }
  }
}
