@import "src/app/styles";

.wrapper {
  @include flex-column;
  width: auto;
  max-width: 800px;
  flex-wrap: wrap;
  column-gap: 6px;
  justify-content: flex-start;
  align-items: flex-start;
  word-wrap: break-word;
  white-space: pre-line;
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  .row {


    .longWord {
      word-break: break-all;
    }

    .url {
      @include flex-column(flex-start, flex-start);
      word-break: break-all;
    }
  }


  a {
    color: var(--text-action) !important;
  }

  .tag {
    color: var(--text-action) !important;
    cursor: pointer;
  }


}

