@import "src/app/styles";

.wrapper {
  @include flex-column;
  width: auto;
  max-width: 460px;
  //min-width: 400px;
  flex-wrap: wrap;
  column-gap: 6px;
  justify-content: flex-start;
  align-items: flex-start;
  word-wrap: break-word;
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  word-break: break-word;
  white-space: pre-wrap;
  .row {


    .longWord {
      word-break: break-all;
    }

    .url {
      @include flex-column(flex-start, flex-start);
      word-break: break-all;
    }
  }


  a {
    color: var(--text-action) !important;
  }

  .tag {
    color: var(--text-action) !important;
    cursor: pointer;
  }


}

