@import "src/app/styles/index";

.wrapper {
  @include flex(flex-start);
  gap: 8px;
  cursor: pointer;

  .icon {
    width: 37px;
  }

  .caption {
    max-width: 290px;
    width: calc(100% - 45px);
    @include flex-column;
  }

  svg {
    fill: var(--text-primary);
  }

}

