@import "./src/app/styles";

.wrapper {
  @include flex-column;
  gap: 2px;
  max-width: 420px;

  .row {
    @include flex;
    gap: 2px;
    width: 100%;

    .column {
      max-height: 400px;
      height: 150px;

    }
  }

}


