@import "./src/app/styles";

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(83px, 1fr));
  gap: 2px;
  max-width: 400px;

  @media(max-width: 1200px){
    max-width: 240px;
  }

  .item {
    //@include box-size(100%, 100%);

    &_big {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}


