@import "src/app/styles";

.wrapper {
  @include box-size(100%, auto);
  @include flex;
  gap: 2px;
  flex-wrap: wrap;
  color: var(--text-primary);
  max-width: 600px;
  min-width: 120px;
  cursor: pointer;
  position: relative;
  background-color: var(--bg-tertiary);
  border-radius: 12px;

  .info{
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-color: var(--bg-secondary);
    border-radius: 12px;
    pointer-events: none;
  }
}


