@import "./src/app/styles";

.header {
  @include box-size(100%, 100%);
  @include flex(space-between, center, 12);
  background-color: var(--bg-0);

  .logo{
    @include box-size(auto, auto);
    @include flex(flex-start);
    margin-left: 20px;
  }

  .nav{
    @include flex;
    flex: 1;
  }

  .viewer{
    @include flex(flex-end);
    width: auto;
    margin-right: 20px;
    flex-shrink: 0;
  }
}
