@import "./src/app/styles";

.wrapper {

  .btn {
    @include flex;
    @include box-size(112px, 40px);
    background-color: var(--bg-02);
    color: var(--main-active);
    border-radius: 10px;
    cursor: pointer;
  }
}

.contentWrapper {
  @include flex-column;
  @include box-size(265px, auto);
  gap: 26px;
  background: var(--bg-0);
  padding: 16px;

  .selector {
    @include flex-column(flex-start, flex-start);


    .title {
      font-weight: 400;
      font-size: 16px;
      color: var(--text-1);
      margin-bottom: 8px;
    }

    .default {
      @include flex(space-between);
      @include box-size(233px, 40px);
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.016);
      border-radius: 10px;
      padding: 0 12px;
      border: 1px solid var(--stroke-1);
      cursor: pointer;
    }

    .selectors {
      @include flex-column(flex-start, flex-start);
      @include box-size(100%, auto);
      box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
      border-radius: 2px;

      .item {
        @include flex(flex-start);
        @include box-size(100%, 32px);
        padding-left: 16px;
        cursor: pointer;

        &__active {
          background-color: var(--bg-02);
        }
      }
    }

  }
}