@import "./src/app/styles";

.wrapper {
  @include box-size(100%, 400px);

  @include width-to('md'){
    @include box-size(100%, 300px);
  }

  .form{
    @include flex-column(center, flex-start, 30);

    @include width-to('md'){
      gap: 20px;
    }

    .inputGroup {
      height: 80px;
    }

    button {
      margin-top: 70px;

      @include width-to('md'){
        margin-top: 40px;
      }
    }
  }

}