.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;

  button{
    width: 100%;
    height: 45px;
  }
}

.inputGroup {
  height: 80px;
}