@import "src/app/styles";

.wrapper {
  @include flex(flex-end,flex-end);
  align-self: flex-end;
  flex: 1;
  margin-left: 7px;
  gap: 4px;
  height: 100%;

  .edited{
    width: 70px;
  }
  .icon {
    width: 24px;
    max-height: 24px;


    svg {
      fill: var(--text-action);
    }
  }
}

