@import "src/app/styles/index";

.wrapper {
  @include box-size(auto, 100%);
  @include flex-column(flex-start);
  max-width: 549px;
  gap: 20px;
  background-color: var(--bg-primary);
  border-radius: 20px;
  padding-bottom: 12px;

  .mainInfo {
    @include flex-column();
    width: calc(100% - 48px);
    margin: 24px 24px 0 24px;

    .name {
      @include flex;
      margin-top: 16px;
      max-width: 90%;
      gap: 8px;
    }
  }

  .btns {
    @include box-size(370px, auto);
    @include flex;
    gap: 16px;
    margin: 0 90px;

    svg {
      fill: var(--text-action);
    }
  }

  .companyCard {
    @include flex;
    @include box-size(84%, auto);
  }

  .secondaryInfo {
    @include flex-column();
    @include box-size(calc(84% - 40px), auto);
    gap: 4px;
    flex: 1;
    border-radius: 12px;
    padding: 20px;
    background-color: var(--bg-secondary);

    .item {
      @include box-size(100%, 50px);
      @include flex-column(center, flex-start);
      border-bottom: 1px solid var(--border-secondary);
    }
  }


}