@import "src/app/styles";

.wrapper {
  @include flex(center, flex-end);
  @include box-size(calc(100% - 32px), auto);
  gap: 14px;
  padding: 0 16px;

  .openDownloads,.openEmoji, .sendBtn {
    height: 56px;
    @include flex;
    cursor: pointer;
  }

  .input {
    //@include box-size(calc(100% - 12px), auto);
    @include flex;
    flex: 1;
    //padding: 6px 12px;
    z-index: 100;
    margin: 8px 0;
  }
}

