@import "./src/app/styles";

.wrapper {
  @include flex(center, flex-end);
  @include box-size(100%, 100%);


  .inputColumn {
    @include box-size(calc(100% - 180px), 100%);
    @include flex-column(flex-end);
    gap: 1px;

    .header {
      @include box-size(100%, auto);
      background-color: var(--bg-03);
      border-radius: 10px 10px 0 0;
      position: relative;

      .exitIcon {
        position: absolute;
        top: 4px;
        right: 6px;
        cursor: pointer;
      }

      .mainColumn{
        @include flex-column(flex-start, flex-start);
        margin: 6px 0 0 8px;

        .title {
          @include flex(flex-start, flex-start);
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: var(--main-active);

          &__answer{
            @include flex(flex-start, flex-start);
            gap: 4px;
          }
        }
      }

      .messageText {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: var(--text-0);
        @include text-ellipsis(90%)
      }
    }

    .isVisibleHeader {
      border-radius: 0 0 10px 10px !important;
    }

    .input {
      @include box-size(100%, 44px);
      @include flex;
      gap: 10px;
      background-color: var(--bg-03);
      border-radius: 10px;
      z-index: 100;

      .body{
        @include box-size(98%, 100%);
        @include flex;
        .icon, .emoji {
          @include flex;
          cursor: pointer;
          z-index: 1000;
        }

        .textarea {
          padding: 2px;
          @include flex;
          @include box-size(90%, 30px);
          align-self: flex-end;
        }
      }
    }
  }

  .btnColumn {
    @include box-size(90px, 100%);
    @include flex(center, flex-end);
  }

}


