@import "src/app/styles";

.wrapper {
  @include flex-column();

  .delimiter {
    @include box-size(calc(100% - 40px), 28px);
    @include flex(flex-start);
    background-color: var(--bg-primary);
    padding-left: 16px;
    border-radius: 12px;

    margin: 8px 24px 8px 0;
    color: var(--text-primary);
  }

  .item {
    @include box-size(calc(100% - 24px), 60px);
    @include flex();
    cursor: pointer;
    margin-right: 24px;

    .info {
      @include flex(flex-start);
      flex: 1;
    }

    .selectIndicator {
      @include box-size(24px, 24px);
      border: 2px solid var(--text-action);
      border-radius: 50%;

      svg {
        fill: var(--text-action);
      }
    }
  }
}


