@import "../../../../../app/styles/index";

.wrapper {
  @include box-size(416px, 100%);
  @include flex-column(flex-start, center);
  max-height: 600px;

  .header {
    width: 90%;
    @include flex-column();
    gap: 4px;
    margin-top: 28px;
    color: var(--text-primary);
    .title {
      width: 100%;
      @include title(h2);
      text-align: left;
    }

    .search {
      width: 100%;
    }
  }

  .body {
    @include flex-column(flex-start, flex-start);
    width: 90%;
    flex: 1;
    margin-top: 16px;
    gap: 20px;

    .nav{
      @include flex;
      gap: 8px;
    }

    .list{
      width: 100%;
    }

  }

  .footer {
    width: 90%;
    margin-top: 16px;
    margin-bottom: 28px;
  }

}