@import "src/app/styles/index";

.wrapper {
  @include box-size(auto, 100%);
  @include flex-column(flex-start);
  max-width: 549px;
  gap: 12px;
  background-color: var(--bg-primary);
  border-radius: 20px;

  .chatName{
    @include flex;
    @include box-size(100%, auto);
    padding: 8px 0;
    background-color: var(--bg-primary);
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 30px;
    color: white;
    transform: translateX(-50%);
    z-index: 20;
  }

  .mainInfo {
    @include flex-column;
    width: calc(100% - 48px);
    margin: 24px 24px 0 24px;
    transition: all 0.1s;
    transform-origin: bottom;

    .name {
      @include flex;
      margin-top: 16px;
      max-width: 90%;
      gap: 8px;
    }
  }

  .btns {
    @include box-size(370px, 61px);
    @include flex;
    gap: 16px;
    margin: 0 90px;

    svg {
      fill: var(--text-action);
    }
  }

  .companyCard {
    @include flex;
    @include box-size(84%, auto);
  }

  .secondaryInfo {
    @include flex-column();
    @include box-size(calc(84% - 40px), auto);
    gap: 4px;
    flex: 1;
    background-color: var(--bg-secondary);
    border-radius: 12px;
    padding: 20px;

    .item {
      @include box-size(100%, 50px);
      @include flex-column(center, flex-start);
      border-bottom: 1px solid var(--border-secondary);
    }
  }
}