@import "src/app/styles";

.wrapper {
  @include flex-column(flex-start, flex-start);
  @include box-size(100%, 100%);
  gap: 12px;

  .title {
    font-weight: 600;
    font-size: 16px;
    color: var(--text-primary);
    margin-bottom: 20px;
  }

  .body {
    width: 100%;
    @include flex-column(flex-start, flex-start);
    gap: 12px;

    .item {
      width: 380px;
      @include flex(space-between);

      &_title{
        font-weight: 400;
        font-size: 12px;
        color: var(--text-primary);
      }

      &_value{
        width: 40%;
        @include flex(flex-start);
        font-size: 12px;
      }
    }


    .switchItem {
      @include box-size(100%, 54px);
      @include flex;

      .titles {
        width: 90%;
        @include flex-column(flex-start, flex-start);
      }
    }
  }
}




