@import "src/app/styles";

.wrapper {
  @include flex-column(flex-start, flex-start);
  @include box-size(100%, 400px);
  max-width: 600px;
  gap: 12px;

  .top {
    @include box-size(100%, 230px);
    @include flex-column(flex-start, flex-start);
    gap: 24px;
    border-bottom: 1px solid var(--border-secondary);

    .switchItem {
      @include box-size(100%, 54px);
      @include flex;

      .titles {
        width: 90%;
        @include flex-column(flex-start, flex-start);
      }
    }

    .selectThemes {
      @include box-size(100%, 54px);
      @include flex;

      .select{
        width: 100px;
      }
    }


  }

  .bottom {
    @include box-size(100%, 40%);
  }
}


