@import "./src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column;
  background-color: var(--bg-0);
  border-left: 1px solid var(--bg-outside);
  position: relative;

  .header {
    @include box-size(100%, 59px);
  }


  .main {
    @include box-size(100%, calc(100% - 59px - 24px));
    @include flex-column(flex-start);
    padding: 12px 0;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    .dossier {
      @include box-size(252px, 450px);
      @include flex;
      margin-bottom: 30px;
    }

    .nav, .navSticky {
      @include flex(flex-start);
      padding: 0 10px;
      width: calc(100% - 20px);
      height: 30px;
      min-height: 30px;
      overflow-x: auto;
      overflow-y: hidden;
      border-bottom: 1px solid var(--icon-inactive);


      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
    .navSticky{
      position: fixed;
      background-color: var(--bg-0);
      top: 112px;
      z-index: 100;
    }

    .outlet {
      margin: 12px 0;
      @include box-size(100%, 100%);
      //overflow-y: auto;
      //@media (max-height: 1000px) {
      //  @include box-size(300px, calc(100% - 300px));
      //}

    }

    @include width-from('xl'){
      max-width: 600px;
    }

    @include width-from-to('sm', 'xl'){
      min-width: calc(100vw - 300px) ;
    }

    @include width-to('sm'){
      min-width: 100vw ;
    }
  }
}

