@import "src/app/styles";

.wrapper {
  @include box-size(calc(100% - 24px), auto);
  @include flex(space-between, flex-start, 40);
  background-color: var(--bg-secondary);
  border-radius: 12px;
  padding: 16px 12px;

  @include width-to('xl') {
    @include flex-column(flex-start, flex-start, 40);
  }

  .card {
    flex: 1;
    width: 100%;
  }

  .addCompanyMail {
    @include flex-column(center, flex-start, 16);
    padding: 16px 20px;
    background-color: var(--bg-primary);
    border-radius: 20px;
    max-width: 375px;

    .header {
      @include flex(flex-start, flex-start);
      gap: 12px;

      .icon {
        min-width: 40px;
        @include box-size(40px, 40px);
        @include flex;
        background-color: var(--bg-secondary);
        border-radius: 50%;
      }

      .titles {
        @include flex-column(flex-start, flex-start, 12);
      }
    }
  }
}
