:root[data-theme="dark_1"] {
  --bg-outside: #232A3F;
  --bg-0: #2E2F4A;
  --bg-1: #1F2539;
  --bg-2: #47408F;
  --bg-3: #332C79;
  --bg-01:  rgba(34, 41, 63, 1);
  --bg-02: #28245C;
  --bg-03: rgba(34, 40, 62, 1);
  --gradient-1: linear-gradient(90deg, #4C3E77 0%, #3D5085 100%);
  --text-0: #FFFFFF;
  --text-1: #717394;
  --main-active: #7B57C8;
  --icon-inactive: #434570;
  --button-inactive: #332F6B;
  --stroke-1: #43476C;
  --stroke-2: #40417A;
  --border-color:#D9D9D9;
}