:root[data-theme="dark_0"] {
  --bg-outside: rgba(64, 65, 122, 1);
  --bg-0: #150E41;
  --bg-1: #0D0A30;
  --bg-2: #47408F;
  --bg-3: #332C79;
  --bg-01: #150E41;
  --bg-02: #28245C;
  --bg-03: #251E50;
  --gradient-1: linear-gradient(90deg, #4C3E77 0%, #3D5085 100%);
  --text-0: #FFFFFF;
  --text-1: #717394;
  --main-active: #7B57C8;
  --icon-inactive: #434570;
  --button-inactive: #332F6B;
  --stroke-1: #43476C;
  --stroke-2: rgba(64, 65, 122, 1);
  --border-color:#D9D9D9;
}