:root {
  --other-status-inoffice: #29CC39;
  --other-status-homework: #83F;
  --other-status-businesstrip: #33BFFF;
  --other-status-vacation: #2EE5C9;
  --other-status-sickleave: #FFCB33;
  --other-status-meeting: #F63;
  --other-status-notavailable: #E62E7B;
  //----------------------------
 --box-shadow: 0 2px 14px 0 rgba(0, 1, 2, 0.32);
}