@import "./src/app/styles";

.wrapper {
  overflow: hidden;
  @include flex;
  min-width: 12px;
  background-color: var(--main-active);
  color: var(--text-0);
  border-radius: var(--border-radius);
  font-weight: 500;
  font-size: 12px;
}


