@import "./src/app/styles";

.wrapper {
  @include flex-column(flex-start, flex-start);
  @include box-size(100%, 100%);
  max-height: 600px;
  gap: 28px;

  .title {
    color: var(--text-0);
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }

  .list {
    @include flex(flex-start, flex-start);
    @include box-size(100%, 100%);
    flex-wrap: wrap;
    gap: 5px;
    overflow-y: auto;
  }
}


