@import "../../../../../app/styles/index";

.header {
  @include box-size(100%, 60px);
  @include flex(space-between, center, 12);
  background-color: var(--bg-primary);
  min-height: 60px;
  border-bottom: 1px solid var(--border-primary);

  .logo {
    @include flex(flex-start);
    margin-left: 20px;
  }

  .nav {
    @include flex;
    gap: 22px;
  }

  //.viewer {
  //  @include flex(flex-end);
  //  width: auto;
  //  margin-right: 20px;
  //  flex-shrink: 0;
  //}
}
