@import "../../../app/styles/index";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column;
  background-color: var(--bg-1);

  .header {
    @include box-size(100%, 60px);
    min-height: 60px;
    border-bottom: 1px solid var(--bg-outside);
  }

  .outlet {
    @include flex;
    @include box-size(100%, calc(100% - 61px));
  }
}
