@import "./src/app/styles";

.header {
  @include box-size(100%, 100%);
  @include flex(flex-start);
  background-color: var(--bg-0);
  border-bottom: 1px solid var(--bg-outside);

  .nav{
    margin-left: 20px;
  }
}
