@import "src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column(flex-start, flex-start);
  gap: 12px;

  .header {
    @include box-size(100%, 50px);
    @include flex(space-berween);

    .name {
      width: 80%;
      @include flex(flex-start);
      flex: 1;
      gap: 6px;
    }
  }

  .body {
    @include box-size(100%, 100%);
    @include flex(center, flex-start);
    flex-wrap: wrap;
    gap: 28px;
    border-radius: var(--border-radius);

    .avatar {
      @include box-size(345px, auto);
      @include flex-column(center, flex-start);
      gap: 12px;

      .btns {
        @include flex(center, flex-start);
        @include box-size(345px, auto);
        gap: 12px;

        svg {
          fill: var(--text-fixed);
        }

        .noRegister {
          @include flex;
          @include box-size(100%, 50px);
          background-color: var(--bg-primary);
          border-radius: 12px;
        }
      }
    }

    .info {
      width: 0;
      @include flex-column(flex-start, flex-start);
      gap: 12px;
      flex: 1;
      min-width: 200px;


      .secondaryInfo {
        @include flex-column();
        @include box-size(100%, auto);
        gap: 4px;
        background-color: var(--bg-secondary);
        border-radius: 12px;

        .item {
          @include box-size(100%, 50px);
          @include flex-column(center, flex-start);
          border-bottom: 1px solid var(--border-secondary);
        }
      }
    }

    .companies {
      @include flex(flex-start);
      @include box-size(auto, auto);
      flex-wrap: wrap;
flex: 1;
    }
  }
}
