@import "../../../../app/styles/index";

.wrapper {
  position: relative;
}

.body {
  border-radius: 20px;
  color:var(--text-0);
  background-color: var(--bg-0);
  overflow: hidden;
  box-shadow: 0 0 13px 1px var(--bg-outside);
}

@mixin position($top, $left, $transform){
  position: absolute;
  top: $top;
  left: $left;
  transform: $transform;
  z-index: 1000;
}

.position-top-center {
  @include position(0, 50%, translate(-50%, -100%));
}

.position-right-top {
  @include position(0, 100%, translate(8px, -100%));
}
.position-right-center {
  @include position(50%, 110%, translate(8px, -50%));
}
.position-right-bottom {
  @include position(100%, 100%, translate(8px, 0));
}

.position-bottom-center {
  @include position(110%, 50%, translate(-50%, 0));
}

.position-left-bottom {
  @include position(100%, 0, translate(-100%, 0));
}
.position-left-center {
  @include position(50%, 0, translate(-100%, -50%));
}
.position-left-top {
  @include position(0, 0, translate(-100%, -100%));
}





