@import "./src/app/styles";

.wrapper{
  //@include box-size(100%, 100%);
  @include flex(center, flex-end);
  gap: 8px;

  .avatar{
    margin-bottom: 20px;
  }

  .mainColumn{
    @include flex-column;
    align-items: flex-end;
    gap: 7px;

    .body{
      @include flex-column;
      align-items: flex-start;
      gap: 6px;
      padding: 8px 12px;
      background-color: var(--bg-secondary);
      border-radius: 10px 10px 10px 0;

      &_my{
        border-radius: 10px 10px 0 10px;
        background-color: var(--bg-01) !important;
      }

      .name{
        font-weight: 400;
        font-size: 14px;
        color: var(--text-primary);
      }

      .messageContent{

      }

      .footer{
        @include flex;
        gap: 12px;
        width: auto;
        .reactions{
          @include flex(flex-start);
          flex-wrap: wrap;
          gap: 12px;
          width: 100%;
          max-width: 500px;
        }
        .isEdited{
          @include flex;
          font-size: 12px;
          color: var(--text-secondary);
          font-style: italic;
        }
      }
    }


      .date{
        @include flex(flex-start);
        width: 100%;
        gap: 6px;
        font-weight: 500;
        font-size: 12px;
        color: var(--text-secondary);

        &_my{
          @include flex(flex-end);
          gap: 6px;
        }
      }

  }
}


