@import "./src/app/styles";

.wrapper{
  @include flex-column(flex-start, flex-start);
  gap: 12px;

  .title{
    color: var(--text-0);
  }

  .list{
    @include flex(flex-start, flex-start);
    gap: 4px;
    height: auto;

    .leftColumn{
    }

    .messagesColumn{
      padding-left: 6px;
      border-left: 1px solid var(--main-active);
    }
  }
}


