@import "./src/app/styles";


.wrapper {
  @include flex(space-between, center, 10);
  @include box-size(100%, 100%);
  cursor: pointer;
  transition: background-color var(--transition);

  .leftColumn {
    @include flex;
  }

  .centerColumn {
    @include flex-column(center, flex-start, 6);
    flex: 1;


    .chatName {
      @include text-ellipsis(99%);
      font-weight: 600;
      font-size: 16px;
      color: var(--text-0);
    }

    .lastMsg {
      @include text-ellipsis(99%);
      font-weight: 500;
      font-size: 13px;
      color: var(--text-1);
    }
  }

  .rightColumn {
    @include flex-column(center, flex-end, 6);

    .date {
      font-weight: 600;
      font-size: 12px;
      color: var(--text-0);
    }
  }
}