@import "./src/app/styles";


.wrapper {
  @include flex(space-between, center, 10);
  @include box-size(100%, 100%);
  cursor: pointer;
  transition: background-color var(--transition);

  .leftColumn {
    @include flex;
    gap: 4px;

    .caption{
      @include flex-column(flex-start, flex-start, 6);
      max-width: 160px !important;

      @include width-to('sm'){
        max-width: 100% !important;
      }

      .chatName {
        @include text-ellipsis(100%);
        text-align: left;
        font-weight: 600;
        font-size: 16px;
        color: var(--text-primary);
      }

      .lastMsg {
        @include text-ellipsis(100%);
        max-width: 350px;
        font-weight: 500;
        font-size: 13px;
        color: var(--text-secondary);
      }
    }
  }

  .rightColumn {
    @include flex-column(flex-end, flex-end, 6);
    justify-self: flex-end;

    .date {
      font-weight: 600;
      font-size: 12px;
      color: var(--text-secondary);
    }
    .checked{
      height: 16px;
    }
  }
}