@import "../../../../../app/styles/index";

.wrapper {
  @include flex-column(flex-start);
  @include box-size(100%, 100%);
  background-color: rgb(0,0,0,0.8);

  gap: 12px;
  position: relative;

  .closeIcon{
    @include flex;
    @include box-size(40px, 40px);
    border-radius: 50% ;
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: var(--white);
    cursor: pointer;
    z-index: 100;
    svg{
      fill: black;
    }
  }

  .swiperTop {
    width: 100%;
    flex: 1;
  }

  .fullScreen {
    @include flex;
    @include box-size(30px, 30px);
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);
    cursor: pointer;

    svg {
      fill: var(--white);
    }
  }

  .footer {
    @include flex-column;
    gap: 12px;
    width: 100%;
    position: relative;
    margin: 20px 0;

    &_hidden {
      display: none;
    }

    .card {
      position: absolute;
      max-width: 200px;
      bottom: 10px;
      left: 20px;
    }

    .swiperContainer {
      @include flex;
      width: 300px;
      max-width: 90%;
      .swiperBottom {
        @include flex;
        gap: 6px;
        height: 80px;
        width: 100%;


        .sliderBottom {
          @include flex;
          max-width: 56px;
          max-height: 80px;
          border-radius: 12px;
          overflow: hidden;
          opacity: 0.6;
          cursor: pointer;

          &_active {
            opacity: 1;
          }
        }
      }
    }

    .actions {
      @include box-size(152px, 40px);
      @include flex;
      gap: 16px;
      border-radius: 24px;
      background: var(--white);

      .item {
        cursor: pointer;
      }

      svg {
        fill: black;
      }
    }
  }

}




