@import "src/app/styles/index";

.wrapper {
  @include box-size(calc(416px - 48px), auto);
  @include flex-column(flex-start, flex-start);
  max-height: 90vh;
  gap: 16px;
  margin: 24px;

  .header {
    @include flex-column();
    width: 100%;
    gap: 4px;
    color: var(--text-primary);

    .search {
      width: 100%;
    }
  }

  .body {
    @include flex-column(flex-start, flex-start);
    width: 100%;
    flex: 1;
    margin-top: 16px;
    gap: 20px;

    .nav {
      @include flex;
      gap: 8px;
    }

    .list {
      @include flex-column(flex-start, flex-start);
      width: 100%;
      gap: 12px;
      min-height: 60px;
      overflow-y: auto;
      max-height: 50vh;
    }

  }

  .footer {
    @include flex;
    @include box-size(100%, 50px);

    svg {
      fill: var(--text-action) !important;
    }
  }
}