@import "../../../../app/styles/index";

.mask {
  @include flex;
  @include box-size(100%, 100%);
  @include position;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: hidden;

  .modal {
    @include flex-column(space-between);
    min-width: 350px;
    min-height: 200px;
    border-radius: var(--border-radius);
    background-color: var(--bg-0);
    z-index: 1000;

    @include width-to('md'){
      //width: 100%;
      //height: 100%;
    }

    .header {
      @include flex(space-between);
      @include box-size(100%, 38px);
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
      margin-bottom: 22px;

      &__title {
        padding-left: 16px;
        padding-top: 24px;
        color: var(--text-0);
        font-weight: 600;
        font-size: 24px;
      }

      &__closeIcon {
        @include flex;
        padding-right: 8px;
        fill: var(--text-0);
        cursor: pointer;
      }
    }

    .content {
      @include flex;
      flex: 1;
      width: 90%;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      color: var(--text-0);
    }

    .footer {
      @include flex;
      gap: 10px;
      height: 80px;
    }
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.loading {
}

.error {
}
