@import "../../../../app/styles/index";

.mask {
  @include flex;
  @include box-size(100%, 100%);
  @include position;
  background: rgba(0, 0, 0, 0.5);

  .modal {
    @include flex-column(space-between);
    min-width: 300px;
    min-height: 200px;
    border-radius: var(--border-radius);
    background-color: #1A202C;

    .header {
      @include flex(space-between);
      @include box-size(100%, 30px);
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
      background-color: #7B57C8;

      &__title {
        padding-left: 20px;
        color: var(--title-color);
      }

      &__closeIcon {
        @include flex;
        padding-right: 6px;
        fill: var(--title-color);
        cursor: pointer;
      }
    }
    .content {
      @include flex;
      flex: 1;
      padding: 12px 24px;
      width: 100%;
    }
    .footer{
      @include flex;
      height: 60px;
    }
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.loading {
}

.error {
}
