@import "src/app/styles";

.wrapper {
  @include box-size(calc(100% - 48px), auto);
  padding: 12px 24px;
  .header {

    @include flex(space-between);
    @include box-size(100%, 40px);
    cursor: pointer;
    transition: background-color var(--transition);

    .title {
      width: 80%;
      display: flex;
      align-items: center;
      gap: 8px;

      .caption{
        @include flex-column;
      }
    }

    .arrow {
      @include flex;
      width: 30px;
      height: 30px;
    }
  }

}
