@import "src/app/styles";

.wrapper {
  @include box-size(100%, auto);

  .header {
    @include box-size(100%, 100%);
    @include flex(space-between);
    cursor: pointer;
    transition: background-color var(--transition);

    .title {
      width: 80%;
      display: flex;
      align-items: center;
      gap: 8px;

      .caption{
        @include flex-column;
      }


      .plus {
        @include flex;
        cursor: pointer;
        transition: all 0.5s;
        border-radius: 50%;

        &:hover {
          background-color: var(--icon-inactive);
          transform: scale(1.2);
        }
      }
    }

    .arrow {
      @include flex;
      width: 30px;
      height: 30px;
    }
  }

}
