@import "src/app/styles";

.wrapper {
  @include flex;
  gap: 8px;
  flex-shrink: 0;
  background-color: inherit;
  color: var(--control-tertiary);
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;

  svg {
    transition: all var(--transition);
    fill: var(--control-tertiary);
  }
}

.active {

  color: var(--control-primary);

  svg {
    fill: var(--control-primary);
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.error {
}
