@import "src/app/styles";

.wrapper {
  @include box-size(100%, auto);
  @include flex-column(flex-start, flex-start);
  gap: 2px;
  flex-wrap: wrap;
  color: var(--text-primary);
  max-width: 600px;

  .item {
    max-width: 200px;
    @media (max-width: 740px) and (min-width: 680px) {
      max-width: 150px;
    }
  }
}


