@import "src/app/styles/index";

.wrapper {
  @include box-size(auto, 100%);
  @include flex;
  gap: 30px;
  flex-wrap: wrap;
  max-height: 90vh;
  min-height: 200px;
  width: 80vw;
  max-width: 1200px;
  overflow-y: auto;

  @include width-to('sm') {
    width: 96vw;
  }
}