@import "src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  @include flex(flex-start);

  .sidebar {
    height: 100%;
    max-width: 800px;
    width: 50%;


    @include width-to('sm') {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
    }
  }

  .outlet {
    @include flex;
    height: 100%;
    flex: 1;
  }
}