@import "./src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column(flex-start);

  .dossier{
    @include box-size(252px, auto);
    @include flex;
    margin-bottom: 46px;
  }
  .nav{
    @include flex(flex-start);
    padding: 0 10px;
    width: 280px;
    height: 30px;
    overflow-x: auto;
    overflow-y:hidden;
    border-bottom: 1px solid var(--icon-inactive);

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .outlet{
    margin-top: 20px;
    @include box-size(300px, 50%);
  }
}
@import "./src/app/styles";
