@import "./src/app/styles";

.page{
  @include box-size(100%, 100%);
  @include flex(flex-start);
  gap: 1px;

  .leftSidebar{
    @include box-size(300px,100%);
    min-width: 300px;
    @include flex;
    background-color: var(--bg-01);
  }

  .visibleRightSidebar{
    width: calc(100% - 300px - 300px) !important;
    transition: width var(--transition);
  }
  .mainColumn{
    @include flex-column;
    @include box-size(calc(100% - 300px),100%);


    .header{
      @include box-size(100%,56px);
      @include flex;
      background-color: var(--bg-01);
    }

    .outlet{
      @include flex-column();
      width: 100%;
      height: calc(100% - 56px);
      background-color: var(--bg-0);

      .messageList{
        @include box-size(100%,calc(100% - 100px));
        padding-top: 12px;
      }

      .messageInput{
        @include box-size(100%,100px);
      }
    }
  }

  .rightSidebar{
    @include box-size(300px,100%);
    //min-width: 300px;
    @include flex;
    background-color: var(--bg-01);
  }
}