@import "./src/app/styles";

.page {
  @include box-size(100%, 100%);
  @include flex(flex-start);

  .leftSidebar {
    @include box-size(300px, 100%);
    min-width: 300px;
    @include flex;
    border-right: 1px solid var(--bg-outside);

    @media (max-width: 680px) {
      @include box-size(100%, 100%);
    }
  }

  .mainColumn {
    @include flex-column;
    @include box-size(calc(100% - 300px), 100%);

    @media (max-width: 680px) {
      @include box-size(100%, 100%);
    }

    .header {
      @include box-size(100%, auto);
      @include flex;
      border-bottom: 1px solid var(--bg-outside);
    }

    .outlet {
      @include flex-column();
      width: 100%;
      height: calc(100% - 60px);
      background-color: var(--bg-1);
      position: relative;

      .messageList {
        @include box-size(100%, calc(100% - 100px));
        padding-top: 12px;
        position: absolute;
        top: 0;
        right: 0;
      }

      .messageInput {
        @include flex;
        @include box-size(100%, 100px);
        position: absolute;
        bottom: 10px;
        z-index: 2;
      }
    }
  }

  .rightSidebar {
    @include box-size(auto, 100%);
    @include flex;
    overflow: hidden;
    @media (min-width: 800px) {
      max-width: 300px;
    }

    @media (max-width: 680px) {
      min-width: 100%;
    }
  }
}