@import "src/app/styles";

.wrapper {
  @include flex;
  gap: 8px;
  cursor: pointer;
  max-width: 300px;

  svg{
    fill: var(--text-primary);
  }

  .info {
    @include flex-column(flex-start, flex-start);
    color: var(--text-0);

    .name {
      text-align: left;
    }
  }
}

