@import "./src/app/styles";


.wrapper {
  @include flex-column(center, flex-start);
  //@include box-size(222px, 84px);
  gap: 12px;
  padding: 16px;
  background-color: var(--bg-0);
  border-radius: 8px;

  .item {
    @include flex();
    gap: 16px;
    color: var(--text-0);
    cursor: pointer;

    svg{
      fill: var(--text-0);
    }

    &:last-child {
      color: var(--red);
    }
  }
}