@import "src/app/styles";

.wrapper {
  @include box-size(380px,calc(100% - 32px));
  @include flex(space-between, flex-start, 40);
  background-color: var(--bg-secondary);
  border-radius: 12px;
  padding: 16px;
  overflow-y: auto;
  max-height: 87vh;

}