@import "src/app/styles";

.wrapper {
  @include box-size(380px,calc(100% - 32px));
  @include flex(space-between, flex-start, 40);
  background-color: var(--bg-secondary);
  border-radius: 12px;
  padding: 16px;
  overflow-y: auto;

  .card {
    flex: 1;
    width: 0;
  }

  .btns {
    @include box-size(375px, 61px);
    @include flex;
    gap: 16px;

    svg {
      fill: var(--text-fixed);
    }
  }

}