@import "src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  @include flex;
  background-color: var(--bg-secondary);

  .list {
    @include flex-column( flex-start, center);
    @include box-size(100%, calc(100% - 16px));
    padding-top: 16px;

    @include width-to(sm){
      @include flex;
      @include box-size(100%, 100%);
      padding-top: 0;
    }

    .item{
      @include flex-column;
      @include box-size(88px, 72px);
      gap: 4px;
      transition: all .5s;
      cursor: pointer;
      position: relative;
      @include width-to(sm){
        @include box-size(90px, 60px);
      }

      svg{
        fill: var(--control-tertiary);
      }

      &_active{
        background-color: var(--bg-primary);
        svg{
          fill: var(--control-tertiary-active);
        }
      }
      
      .counter{
        position: absolute;
        top: 8px;
        left: 48px;
        transform: translateX(0px);
      }
    }
  }
}
