@import "./src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  padding: 12px;
  @include flex;
  background-color: var(--bg-0);

  .body {
    @include box-size(100%, 100%);
    @include flex(space-between);

    .back {
      @include flex;
      @include box-size(30px, 30px);
      cursor: pointer;
    }

    .card {
      @include flex;

    }

    .rightColumn {
      @include flex(flex-end);
      gap: 8px;
    }
  }
}
