@import "./src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  @include flex(space-between);
  padding: 0 20px;
  background-color: var(--bg-0);
  border-bottom: 2px solid var(--bg-outside);

  .card {
    @include box-size(50%, 100%);
  }

  .rightColumn {
    @include box-size(50%, 100%);
    @include flex(flex-end);
    gap: 8px;
  }
}
