@import "./src/app/styles";

.wrapper {
  @include box-size(calc(100% - 12px), 60px);
  padding-right: 12px;
  @include flex;
  background-color: var(--bg-0);

  .body {
    @include box-size(calc(100% - 12px), 100%);
    @include flex(space-between);
    padding-left: 12px ;

    .network{
      @include flex;
      gap: 12px;
      width: 100%;
      color: var(--text-0);

      .text{
        font-size: 20px;
      }
    }

    .back {
      @include flex;
      @include box-size(30px, 30px);
      cursor: pointer;
    }

    .card {
      @include flex;
      width: 30%;
    }

    .rightColumn {
      @include flex(flex-end);
      gap: 8px;
      width: 70%;

      .icon{
        @include flex;
      }
    }
  }
}
