@import "src/app/styles/index";

.wrapper {
  @include flex;
  @include box-size(auto, 150px);
  background-color: var(--bg-primary);
  border-radius: 12px;
  max-width: 375px;
  min-width: 288px;
  .body {
    @include flex-column(center, flex-start);
    @include box-size(calc(100% - 20px), calc(100% - 20px));
    gap: 12px;
  }
}