@import "./src/app/styles";

.header {
  @include box-size(100%, 100%);
  @include flex(space-between, center);
  background-color: var(--bg-2);

  .logo{
    @include box-size(280px, 100%);
    @include flex(flex-start);
    margin-left: 20px;
  }

  .tabs{
    @include flex(flex-start);
    height: 100%;
    margin-left: 20px;
    flex: 1;
  }

  .viewer{
    @include flex(flex-start);
    margin-right: 20px;
  }
}
