@import "./src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column(flex-start);
  border-radius: var(--border-radius);

  .list {
    @include flex-column;
    width: 100%;

    .item {
      @include flex;
      @include box-size(100%, 74px);
      gap: 16px;
      cursor: pointer;
      transition: background-color var(--transition);

      .body {
        @include box-size(calc(100% - 32px), 100%);
        @include flex(flex-start);
        padding: 0 16px;
        gap: 16px;

        .avatar {
          @include flex;
        }

        .content {
          @include flex-column;
          width: calc(100% - 68px);
          gap: 4px;

          .row {
            @include flex(space-between);
            width: 100%;

            .left {
              @include flex(flex-start);
              max-width: 90%;
            }

            .right {
              @include flex(flex-end);
              min-width: 10%;
              width: auto;
            }

            svg {
              fill: var(--text-action);
            }
          }

        }

      }

      &_active {
        background-color: var(--bg-primary);
      }
    }
  }


}
