@import "src/app/styles";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column(flex-start);
  border-radius: var(--border-radius);


  .search {
    @include box-size(calc(100% - 32px), 48px);
    @include flex(space-between);
    padding: 0 16px;
  }

  .tabs {
    @include box-size(calc(100% - 16px), 48px);
    @include flex(flex-start);
    padding-left: 16px;
  }


  .list {
    @include flex-column;
    width: 100%;

    .item {
      @include flex;
      @include box-size(100%, 74px);
      gap: 16px;
      cursor: pointer;
      transition: background-color var(--transition);

      .body {
        @include box-size(calc(100% - 32px), 100%);
        @include flex(space-between);
        padding: 0 16px;
        gap: 16px;

        .card {
          max-width: 80%;
        }

        .icons {
          @include flex;
          svg {
            fill: var(--text-primary);
          }
        }
      }

      &_active {
        background-color: var(--bg-primary);
      }
    }
  }


}
