@import "./src/app/styles";

.wrapper {
  @include flex(flex-start);
  @include box-size(100%, 100%);
  gap: 16px;
  background-color: var(--bg-03);
  padding: 0 12px;

  .item{
    cursor: pointer;
  }
}
