@import "src/app/styles/index";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column(flex-start);
  background-color: var(--bg-primary);
  max-width: 1000px;

  .tabs {
    @include flex(flex-start, flex-end);
    @include box-size(calc(100% - 46px), auto);
    overflow-y: auto;
    gap: 2px;
    margin-top: 20px;
    min-height: 60px;

    .item {
      @include flex;
      @include box-size(auto, 52px);

      gap: 8px;
      padding: 0 16px;
      background-color: var(--bg-secondary);
      border-radius: 12px 12px 0 0;
      cursor: pointer;
      transition: height 0.2s;
      border-bottom: 1px solid var(--bg-primary);

      .icon {

      }

      &:last-child {
        margin-right: 14px;
      }

      svg {
        transition: fill .5s;
        fill: var(--bg-tertiary);
      }

      &_active {
        @include box-size(auto, 54px);
        border-bottom: 1px solid var(--bg-secondary);

        svg {
          fill: var(--text-action);
        }
      }

    }

    @include width-to('sm') {
      @include box-size(calc(100% - 12px), auto);
    }
  }

  .outlet {
    @include flex(center, flex-start);
    @include box-size(calc(100% - 46px), auto);
    overflow-y: auto;
    margin-bottom: 12px;
    border-radius: 0 12px 12px 12px;
    background-color: var(--bg-secondary);

    @include width-to('sm') {
      @include box-size(calc(100% - 12px), auto);
    }
  }
}
