@import "src/app/styles/index";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column;
  background-color: var(--bg-primary);

  .body {
    @include flex-column(flex-start, center);
    @include box-size(90%, calc(100% - 24px));
    overflow-y: auto;
    margin: 24px 0;
    gap: 22px;

    .row {
      @include box-size(calc(100% - 40px), auto);
      @include flex;
      flex-shrink: 0;
      min-height: 154px;
      max-width: 940px;
      background-color: var(--bg-secondary);
      border-radius: 20px;
      padding: 20px;
    }
  }
}
