@import "src/app/styles/index";

.wrapper {
  @include box-size(100%, 100%);
  @include flex-column(flex-start);
  background-color: var(--bg-primary);

  .tabs {
    @include flex(flex-start);
    @include box-size(calc(100% - 46px), 100px);
    overflow-y: auto;
    gap: 22px;

    .item{
      @include flex-column;
      @include box-size(300px, 72px);
      padding: 0 16px;
      background-color: var(--bg-secondary);
      border-radius: 12px;
      cursor: pointer;
      transition: background-color .5s;

      &_active{
        background-color: var(--bg-tertiary);
      }
    }

  }

  .outlet{
    @include box-size(calc(100% - 46px), calc(100% - 112px));
    overflow-y: auto;
    border-radius: 12px;
    margin-bottom: 12px;
  }
}
