@import "src/app/styles";

.wrapper {
  @include box-size(calc(100% - 32px), calc(100% - 32px));
  @include flex;
  flex: 1;
  padding: 16px;
  cursor: default;

  @include width-to('sm'){
    @include box-size(calc(100% - 12px), calc(100% - 32px));
    padding: 16px 6px;
  }
}