@import "./src/app/styles";

.wrapper {
  @include box-size(416px, calc(596px - 48px));
  @include flex-column(flex-start, center);
  max-height: 600px;
  gap: 24px;
  padding: 32px 24px;

  .body {
    @include flex-column(space-between, center);
    width: 100%;
    flex: 1;

    .item {
      @include flex(space-between);
      width: 100%;
      gap: 20px;


      .left {
        width: 84%;
        @include flex-column;
        gap: 2px;

        .aboutMe{
          width: 100%;
          @include flex(flex-start, flex-start);
          max-height: 140px;
          overflow-y: auto;
      }
      }
    }
  }


}