@import "./src/app/styles";


.wrapper {
  @include box-size(100%, 100%);
  @include flex-column();
  margin: 12px 0;

  .item {
    padding: 0 12px;
    @include flex;
    @include box-size(100%, 36px);
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      background-color: var(--bg-02);
    }
  }

  .content {
    @include box-size(90%, 36px);
    @include flex(flex-start);
    gap: 14px;
    white-space: nowrap;
    color: var(--text-0);
  }
}





