@import "src/app/styles";

.wrapper {
  @include box-size(100%, auto);
  @include flex-column;
  gap: 24px;
  max-width: 550px;


  .item {
    @include flex-column(flex-start, flex-start);
    height: auto;
    gap: 4px;
    width: 100%;
    flex: 1;
  }
}