@import "./src/app/styles";


.wrapper {
  position: relative;
}

.body {
  padding: 8px;
  border: 1px solid var(--title-color);
  border-radius: var(--border-radius);
  color: #fafafa;
  background-color: var(--bg-1);
  overflow: hidden;

}

@mixin position($top, $left, $transform){
  position: absolute;
  top: $top;
  left: $left;
  transform: $transform;
  z-index: 100;
}

.position-top-center {
  @include position(0, 50%, translate(-50%, -100%));
}

.position-right-top {
  @include position(0, 100%, translate(0, -100%));
}
.position-right-center {
  @include position(50%, 100%, translate(0, -50%));
}
.position-right-bottom {
  @include position(100%, 100%, translate(0, 0));
}

.position-bottom-center {
  @include position(100%, 50%, translate(-50%, 0));
}

.position-left-bottom {
  @include position(100%, 0, translate(-100%, 0));
}
.position-left-center {
  @include position(50%, 0, translate(-100%, -50%));
}
.position-left-top {
  @include position(0, 0, translate(-100%, -100%));
}





