@import "src/app/styles/index";

.wrapper {
  @include box-size(calc(100% - 32px),calc(100% - 32px));
  @include flex(space-between, flex-start, 40);
  background-color: var(--bg-secondary);
  border-radius: 12px;
  padding: 16px;

  @include width-to('sm') {
    padding: 16px 4px;
    @include box-size(calc(100% - 8px),calc(100% - 32px));
  }

  @include width-to('xl') {
    //@include flex-column(flex-start, flex-start, 40);
  }

  .card {
    flex: 1;
    width: 0;
  }

  .btns {
    @include box-size(375px, 61px);
    @include flex;
    gap: 16px;

    svg {
      fill: var(--text-fixed);
    }
  }

}