@import "src/app/styles/index";

.wrapper {
  @include box-size(auto, 100%);
  @include flex-column(flex-start);
  max-height: 90vh;
  max-width: 549px;
  gap: 20px;
  overflow-y: auto;
background-color: #1D005C;
  .btns {
    @include box-size(370px, 61px);
    @include flex;
    gap: 16px;
    margin: 0 90px;

    svg {
      fill: var(--text-fixed);
    }
  }

}