@import "src/app/styles";

.wrapper {
  @include box-size(auto, auto);
  @include flex(center, flex-end);
  max-width: 70%;

  .content {
    @include box-size(100%, auto);

    .bubble {
      @include flex(flex-start);
      gap: 12px;
      padding: 12px;
      border-radius: 12px 12px 12px 0;
      background-color: var(--bg-secondary);

      .body{
        margin-bottom: 8px;
      }

      .info{
        @include flex(flex-end);
        align-self: flex-end;
        svg{
          fill: var(--text-action);
        }
      }

      &_my {
        border-radius: 12px 12px 0 12px;
        background-color: var(--bg-primary);
      }
    }
  }
}


