@import "./src/app/styles";

.wrapper {
  @include flex-column(flex-start, flex-start);
  @include box-size(100%, 100%);
  gap: 12px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;

  .caption{
    @include flex-column(flex-start, flex-start);
    gap: 4px;
    .title{
      color: var(--text-1);
      font-weight: 400;
      font-size: 14px;
    }

    .name {
      font-weight: 600;
      font-size: 20px;
      color: var(--text-0);
    }
  }

  .adminList{
    @include flex-column(flex-start, flex-start);
    gap: 8px;

    .title{
      color: var(--text-1);
      font-weight: 400;
      font-size: 14px;
    }

    .list{
      @include flex-column(flex-start, flex-start);
      @include box-size(100%, 100px);
      gap: 4px;
      overflow-y: auto;
    }
  }

}