@import "src/app/styles/index";

.wrapper {
  @include box-size(416px, auto);
  @include flex-column();
padding: 18px;

  .btns{
    @include flex;
    margin-top: 20px;
    gap: 8px;
    width: 80%;
  }
}