@import "src/app/styles";

.wrapper {
  @include flex;
  @include box-size(100%, 100%);
  gap: 12px;

  .item {
    color: var(--text-secondary);
    position: relative;
    cursor: pointer;

    &_active {
      color: var(--text-action);
    }
  }

  .line {
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -6px;
    background-color: var(--text-action);
    border-radius: 12px;
  }
}
