@import "./src/app/styles";

.wrapper {
  @include box-size(90%, 100%);
  @include flex-column();

  .body {
    @include flex-column();
    width: 100%;
    gap: 12px;
    flex: 1;
  }

  .footer {
    @include flex;
    @include box-size(100%, 100px);
    gap: 16px;

    .btn{
      @include flex-column();
      width: 80px;
      gap: 4px;
    }
  }
}


