@import "./src/app/styles";

.sidebar {
  @include box-size(100%, 100%);
  @include flex-column(_, flex-start, 20);
  background-color: var(--bg-2);

  .search {
    @include box-size(100%, 40px);
    @include flex;
    margin-top: 8px;
  }

  .list {
    @include flex;
    width: 100%;
    height: calc(100% - 80px);
  }
}
