@import "./src/app/styles";

.wrapper {
  @include flex;
  @include btn-actions;
  padding: 4px 16px;
  flex-shrink: 0;
  background-color: var(--control-primary);
  color: var(--text-primary);
  border-radius: var(--border-radius);
  text-align: center;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}


.active {
  border: none;
  background-color: var(--control-primary);
  color: var(--white);
}

.disabled {
  pointer-events: none;
  cursor: default;
  background-color: var(--control-disabled);
  color: var(--text-secondary);
}

.error {
  color: var(--red);
  border: 1px solid var(--red);
}


.size-s {
  width: calc(96px - 32px);
  height: calc(32px - 8px);
}

.size-m {
  width: calc(131px - 32px);
  height: calc(48px - 8px);
}

.size-l {
  width: calc(264px - 32px);
  height: calc(40px - 8px);
}

.size-xl {
  width: calc(100% - 32px);
  height: calc(56px - 8px);
}

