@import "src/app/styles";


.mask {
  @include flex;
  @include box-size(100%, 100%);
  @include position;
  //background: rgba(0, 0, 0, 0.5);
  background-color: var(--bg-dimming);
  z-index: 100000;
  overflow: hidden;

  &_top {
    padding-top: 12px;
    align-items: flex-start !important;
    @include height-from(sm){
      padding-top: 40px;
    }
  }

  .full{
    height: 100vh;
    width: 100%;
    border-radius: 0 !important;
    background-color: transparent !important;
  }

  .modal {
    @include flex-column(space-between);
    //min-width: 350px;
    //min-height: 200px;
    border-radius: 20px;
    background-color: var(--bg-secondary);
    z-index: 1000;
    position: relative;


    .closeIcon {
      @include flex;
      @include box-size(40px, 40px);
      position: absolute;
      top: -28px;
      right: -48px;
      z-index: 100;
      cursor: pointer;
      border-radius: 50%;
      background-color: var(--bg-secondary);

      svg{
        fill: var(--text-primary);
      }

      @include width-to('sm'){
        top: -52px;
        right: 0;

        @include height-to('sm'){
          top: 12px!important;
          right: 12px!important;
          border: 2px solid var(--text-secondary);
        }
      }

      @include height-to('sm'){
        top: 0;
        right: -52px;
      }

    }

    .content {
      @include flex;
      align-items: flex-start;
      width: 100%;
      max-height: calc(100vh - 22px);
      overflow-y: auto;
      @include height-from(sm){
        max-height: calc(100vh - 50px);
      }

      &_full{
        max-height: 100% !important;
      }
    }
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.loading {
}

.error {
}
